*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  min-height: 100vh;
  margin: 0;
  padding-bottom: 70px; /* espacio para el footer fijo */
  background-color: #050505;
  color: #fff;
}


