.flexborder {
    width: 85vw;
    height: 100vh;
    overflow: scroll;
    margin-top: 3vw;
}
.flexborder::-webkit-scrollbar {
    display: none;
}

.roundcard {
    height: 650px;
    width: 100%;
    max-width: 500px;
    min-width: 300px;
    background-color: #fff;
    border-radius: 3%;
    box-shadow: 0px 0px 20px #2d2d2d;
    margin-left: 12vw;
    margin-top: 3vw;
    overflow: hidden;
    margin-left: 1vw;
    margin-right: 1vw;
    left: 0;
    right: 0;
}

@media (max-width: 600px) {
  .roundcard {
    margin-top: 15vw;
  }
}
.bottomroom {
    width: 100%;
    height: 20vh;
}
.roundimage {
    width: 100%;
    height: 65%;
    object-fit: cover;
    object-position: center;
}
.cardtitle {
    padding-left: 8%;
    margin-top: 5vh;
    text-transform: uppercase;
    color: #060606;
    font-size: 28px;
    letter-spacing: 2px;
    text-decoration: none;
}
.cardsubtitle {
    padding-left: 8%;
    margin-top: 1vh;
    color: #FF9900;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
}
.cardsubsubtitle {
    padding-left: 8%;
    margin-top: 1vh;
    color: #556270;
    font-size: 16px;
    text-decoration: none;
}
.starwarstop {
    width: 100%;
    height: 6%;
    background-color: #fff !important;
    z-index: 9000;
    padding: 1%;
    box-shadow: 0px 2px 40px #8e8e8e;
}
.logoicon {
    width: 40px;
    height: 40px;
    margin-left: 5vw;
}
.centerimage {
    width: 150px;
    height: 20px;
    margin-top: -4vh;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.container-fluid {
    padding-left: 5vh;
    padding-right: 5vh;
}

.titles{
    padding-top: 130px;
}

.cardtitle a,
.cardsubtitle a,
.cardsubsubtitle a,
.links {
  text-decoration: none;
  color: inherit; 
}

.examTitle {
    text-align: center;
    font-size: 2em;
    color: #333;
  }
  
  .examSubtitle {
    text-align: center;
    font-size: 1.5em;
    padding-top: 10px;
    color: #666;
  }

  @media (prefers-color-scheme: dark) {
    .examTitle, .examSubtitle {
      color: #ffffff;
    }
    .roundcard {
      border: 2px solid #ffffff;
    }
    body {
        background-color: #000000fd;
        color: #fff;
      }
  }